@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", new {name = "Giorgio"})</li>
                    <li>@Html.ActionLink("Test", "Test", "Home")</li>
                    <li>@Html.ActionLink("Test Image", "TestImage", "Home")</li>
                    <li>@Html.ActionLink("Test Image Png", "TestImagePng", "Home")</li>
                    <li>@Html.ActionLink("Test URL", "TestUrl", "Home")</li>
                    <li>@Html.ActionLink("Test External URL", "TestExternalUrl", "Home")</li>
                    <li>@Html.ActionLink("Test View", "TestView", "Home")</li>
                    <li>@Html.ActionLink("Test generating pdf in QueueBackgroundWorkItem", "TestQueueablePdf", "Home")</li>
                    <li>@Html.ActionLink("Test View Image", "TestViewImage", "Home")</li>
                    <li>@Html.ActionLink("Test Save on Server", "TestSaveOnServer", new { fileName = "test.pdf"})</li>
                    <li>@Html.ActionLink("Logged In Test", "AuthorizedTest", "Home")</li>
                    <li>@Html.ActionLink("Logged In Test Image", "AuthorizedTestImage", "Home")</li>
                    <li>@Html.ActionLink("Route Test", "RouteTest", "Home")</li>
                    <li>@Html.ActionLink("Test ViewAsPdf with a model", "TestViewWithModel")</li>
                    <li>@Html.ActionLink("Test ViewAsImage with a model", "TestImageViewWithModel")</li>
                    <li>@Html.ActionLink("Test PartialViewAsPdf with a model", "TestPartialViewWithModel")</li>
                    <li>@Html.ActionLink("Test PartialViewAsImage with a model", "TestImagePartialViewWithModel")</li>
                    <li>@Html.ActionLink("Error Test", "ErrorTest", "Home")</li>
                    <li>@Html.ActionLink("Binary Test", "BinaryTest", "Home")</li>
                    <li>@Html.ActionLink("Ajax Test", "Index", "AjaxTests")</li>
                    <li>@Html.ActionLink("Ajax Image Test", "IndexImage", "AjaxTests")</li>
                    <li>@Html.ActionLink("External CSS Test", "Index", "CssTests")</li>
                    <li>@Html.ActionLink("External CSS Test Image", "IndexImage", "CssTests")</li>
                </ul>
    
</p>

<p>Some text with non ascii char àéù</p>